body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u808_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:681px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u808 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:681px;
}
#u809 {
  position:absolute;
  left:2px;
  top:332px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u810_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u810 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u811 {
  position:absolute;
  left:2px;
  top:13px;
  width:356px;
  word-wrap:break-word;
}
#u812_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:23px;
}
#u812 {
  position:absolute;
  left:12px;
  top:14px;
  width:15px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u813 {
  position:absolute;
  left:2px;
  top:4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u814 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u815_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:263px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u815 {
  position:absolute;
  left:0px;
  top:156px;
  width:360px;
  height:263px;
}
#u816 {
  position:absolute;
  left:2px;
  top:124px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u817_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:190px;
}
#u817 {
  position:absolute;
  left:32px;
  top:217px;
  width:1px;
  height:189px;
}
#u818 {
  position:absolute;
  left:2px;
  top:86px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u819_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u819 {
  position:absolute;
  left:8px;
  top:170px;
  width:145px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u820 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u821_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:49px;
}
#u821 {
  position:absolute;
  left:8px;
  top:217px;
  width:49px;
  height:49px;
}
#u822 {
  position:absolute;
  left:2px;
  top:16px;
  width:45px;
  word-wrap:break-word;
}
#u823_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u823 {
  position:absolute;
  left:71px;
  top:234px;
  width:43px;
  height:16px;
}
#u824 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u825_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:49px;
}
#u825 {
  position:absolute;
  left:8px;
  top:287px;
  width:49px;
  height:49px;
}
#u826 {
  position:absolute;
  left:2px;
  top:16px;
  width:45px;
  word-wrap:break-word;
}
#u827_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u827 {
  position:absolute;
  left:71px;
  top:304px;
  width:155px;
  height:16px;
}
#u828 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u829_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:49px;
}
#u829 {
  position:absolute;
  left:8px;
  top:357px;
  width:49px;
  height:49px;
}
#u830 {
  position:absolute;
  left:2px;
  top:16px;
  width:45px;
  word-wrap:break-word;
}
#u831_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u831 {
  position:absolute;
  left:71px;
  top:374px;
  width:43px;
  height:16px;
}
#u832 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u833_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u833 {
  position:absolute;
  left:10px;
  top:79px;
  width:340px;
  height:67px;
  font-size:16px;
}
#u834 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  word-wrap:break-word;
}
#u835 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u836_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:263px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u836 {
  position:absolute;
  left:0px;
  top:418px;
  width:360px;
  height:263px;
}
#u837 {
  position:absolute;
  left:2px;
  top:124px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u838_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:190px;
}
#u838 {
  position:absolute;
  left:32px;
  top:479px;
  width:1px;
  height:189px;
}
#u839 {
  position:absolute;
  left:2px;
  top:86px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u840 {
  position:absolute;
  left:8px;
  top:432px;
  width:181px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u841 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u842_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:49px;
}
#u842 {
  position:absolute;
  left:8px;
  top:479px;
  width:49px;
  height:49px;
}
#u843 {
  position:absolute;
  left:2px;
  top:16px;
  width:45px;
  word-wrap:break-word;
}
#u844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u844 {
  position:absolute;
  left:71px;
  top:496px;
  width:43px;
  height:16px;
}
#u845 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:49px;
}
#u846 {
  position:absolute;
  left:8px;
  top:549px;
  width:49px;
  height:49px;
}
#u847 {
  position:absolute;
  left:2px;
  top:16px;
  width:45px;
  word-wrap:break-word;
}
#u848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u848 {
  position:absolute;
  left:71px;
  top:566px;
  width:15px;
  height:16px;
}
#u849 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:49px;
}
#u850 {
  position:absolute;
  left:8px;
  top:619px;
  width:49px;
  height:49px;
}
#u851 {
  position:absolute;
  left:2px;
  top:16px;
  width:45px;
  word-wrap:break-word;
}
#u852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u852 {
  position:absolute;
  left:71px;
  top:636px;
  width:43px;
  height:16px;
}
#u853 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
