body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1680px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1680px;
  height:6591px;
}
#u6244 {
  position:absolute;
  left:0px;
  top:0px;
  width:1680px;
  height:6591px;
}
#u6245 {
  position:absolute;
  left:2px;
  top:3288px;
  width:1676px;
  visibility:hidden;
  word-wrap:break-word;
}
