body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1110px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5882 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:97px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u5883 {
  position:absolute;
  left:0px;
  top:871px;
  width:1110px;
  height:97px;
  text-align:left;
}
#u5884 {
  position:absolute;
  left:2px;
  top:8px;
  width:1106px;
  word-wrap:break-word;
}
#u5885 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5886 {
  position:absolute;
  left:0px;
  top:751px;
  width:165px;
  height:40px;
  font-size:16px;
}
#u5887 {
  position:absolute;
  left:2px;
  top:10px;
  width:161px;
  word-wrap:break-word;
}
#u5888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5888 {
  position:absolute;
  left:10px;
  top:798px;
  width:71px;
  height:48px;
}
#u5889 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u5890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5890 {
  position:absolute;
  left:189px;
  top:751px;
  width:165px;
  height:40px;
  font-size:16px;
}
#u5891 {
  position:absolute;
  left:2px;
  top:10px;
  width:161px;
  word-wrap:break-word;
}
#u5892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5892 {
  position:absolute;
  left:199px;
  top:798px;
  width:71px;
  height:48px;
}
#u5893 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u5894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5894 {
  position:absolute;
  left:378px;
  top:751px;
  width:165px;
  height:40px;
  font-size:16px;
}
#u5895 {
  position:absolute;
  left:2px;
  top:10px;
  width:161px;
  word-wrap:break-word;
}
#u5896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5896 {
  position:absolute;
  left:388px;
  top:798px;
  width:71px;
  height:48px;
}
#u5897 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u5898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5898 {
  position:absolute;
  left:567px;
  top:751px;
  width:165px;
  height:40px;
  font-size:16px;
}
#u5899 {
  position:absolute;
  left:2px;
  top:10px;
  width:161px;
  word-wrap:break-word;
}
#u5900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5900 {
  position:absolute;
  left:577px;
  top:798px;
  width:57px;
  height:48px;
}
#u5901 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5902 {
  position:absolute;
  left:756px;
  top:751px;
  width:165px;
  height:40px;
  font-size:16px;
}
#u5903 {
  position:absolute;
  left:2px;
  top:10px;
  width:161px;
  word-wrap:break-word;
}
#u5904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5904 {
  position:absolute;
  left:766px;
  top:798px;
  width:113px;
  height:32px;
}
#u5905 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u5906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5906 {
  position:absolute;
  left:945px;
  top:751px;
  width:165px;
  height:40px;
  font-size:16px;
}
#u5907 {
  position:absolute;
  left:2px;
  top:10px;
  width:161px;
  word-wrap:break-word;
}
#u5908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5908 {
  position:absolute;
  left:945px;
  top:798px;
  width:57px;
  height:48px;
}
#u5909 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5910 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u5911 {
  position:absolute;
  left:1055px;
  top:844px;
  width:40px;
  height:40px;
}
#u5912 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u5913 {
  position:absolute;
  left:1063px;
  top:856px;
  width:25px;
  height:16px;
}
#u5914 {
  position:absolute;
  left:2px;
  top:0px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:51px;
}
#u5915 {
  position:absolute;
  left:917px;
  top:896px;
  width:180px;
  height:51px;
}
#u5916 {
  position:absolute;
  left:2px;
  top:18px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5917 {
  position:absolute;
  left:0px;
  top:196px;
  width:81px;
  height:100px;
}
#u5918 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u5919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5919 {
  position:absolute;
  left:197px;
  top:196px;
  width:81px;
  height:100px;
}
#u5920 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u5921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u5921 {
  position:absolute;
  left:410px;
  top:196px;
  width:81px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u5922 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u5923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5923 {
  position:absolute;
  left:0px;
  top:340px;
  width:81px;
  height:105px;
}
#u5924 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u5925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:143px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5925 {
  position:absolute;
  left:197px;
  top:340px;
  width:97px;
  height:143px;
}
#u5926 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u5927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u5927 {
  position:absolute;
  left:410px;
  top:340px;
  width:81px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u5928 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u5929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u5929 {
  position:absolute;
  left:607px;
  top:340px;
  width:70px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u5930 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u5931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5931 {
  position:absolute;
  left:793px;
  top:340px;
  width:81px;
  height:105px;
}
#u5932 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u5933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u5933 {
  position:absolute;
  left:990px;
  top:340px;
  width:81px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u5934 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u5935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u5935 {
  position:absolute;
  left:0px;
  top:560px;
  width:121px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u5936 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u5937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u5937 {
  position:absolute;
  left:197px;
  top:560px;
  width:161px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u5938 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u5940 {
  position:fixed;
  left:0px;
  top:0px;
}
#u5940_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u5940_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#169BD5;
}
#u5941 {
  position:absolute;
  left:0px;
  top:115px;
  width:1110px;
  height:49px;
  font-size:16px;
  color:#169BD5;
}
#u5942 {
  position:absolute;
  left:2px;
  top:15px;
  width:1106px;
  word-wrap:break-word;
}
#u5943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:115px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5943 {
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:115px;
}
#u5944 {
  position:absolute;
  left:2px;
  top:50px;
  width:1106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u5945 {
  position:absolute;
  left:1031px;
  top:9px;
  width:68px;
  height:20px;
  text-align:right;
}
#u5946 {
  position:absolute;
  left:2px;
  top:2px;
  width:64px;
  white-space:nowrap;
}
#u5947 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5948 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u5949 {
  position:absolute;
  left:405px;
  top:48px;
  width:77px;
  height:26px;
  font-size:18px;
}
#u5950 {
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  white-space:nowrap;
}
#u5951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:11px;
}
#u5951 {
  position:absolute;
  left:486px;
  top:57px;
  width:19px;
  height:11px;
}
#u5952 {
  position:absolute;
  left:2px;
  top:-2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5953 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u5954 {
  position:absolute;
  left:657px;
  top:49px;
  width:77px;
  height:26px;
  font-size:18px;
}
#u5955 {
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  white-space:nowrap;
}
#u5956 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:83px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#169BD5;
}
#u5957 {
  position:absolute;
  left:0px;
  top:106px;
  width:1110px;
  height:83px;
  font-size:16px;
  color:#169BD5;
}
#u5958 {
  position:absolute;
  left:2px;
  top:32px;
  width:1106px;
  word-wrap:break-word;
}
#u5959 {
  position:absolute;
  left:761px;
  top:39px;
  width:281px;
  height:47px;
}
#u5959_input {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:47px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5960 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:83px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#169BD5;
}
#u5961 {
  position:absolute;
  left:0px;
  top:115px;
  width:1110px;
  height:83px;
  font-size:16px;
  color:#169BD5;
}
#u5962 {
  position:absolute;
  left:2px;
  top:32px;
  width:1106px;
  word-wrap:break-word;
}
#u5963 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5964 {
  position:absolute;
  left:1052px;
  top:39px;
  width:47px;
  height:47px;
}
#u5964_input {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:47px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u5965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u5965 {
  position:absolute;
  left:1063px;
  top:48px;
  width:28px;
  height:28px;
}
#u5966 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5967 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5968 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u5969 {
  position:absolute;
  left:544px;
  top:50px;
  width:59px;
  height:26px;
  font-size:18px;
}
#u5970 {
  position:absolute;
  left:2px;
  top:2px;
  width:55px;
  white-space:nowrap;
}
#u5971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:11px;
}
#u5971 {
  position:absolute;
  left:604px;
  top:57px;
  width:19px;
  height:11px;
}
#u5972 {
  position:absolute;
  left:2px;
  top:-2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:82px;
}
#u5973 {
  position:absolute;
  left:16px;
  top:14px;
  width:287px;
  height:82px;
}
#u5974 {
  position:absolute;
  left:2px;
  top:33px;
  width:283px;
  visibility:hidden;
  word-wrap:break-word;
}
