body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1929 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1930 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1931 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1932 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:24px;
}
#u1933 {
  position:absolute;
  left:70px;
  top:116px;
  width:280px;
  height:96px;
  line-height:24px;
}
#u1934 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u1935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1935 {
  position:absolute;
  left:10px;
  top:115px;
  width:50px;
  height:50px;
}
#u1936 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1937 {
  position:absolute;
  left:66px;
  top:115px;
  width:39px;
  height:23px;
}
#u1938 {
  position:absolute;
  left:2px;
  top:4px;
  width:35px;
  word-wrap:break-word;
}
#u1939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:18px;
}
#u1939 {
  position:absolute;
  left:72px;
  top:145px;
  width:12px;
  height:18px;
}
#u1940 {
  position:absolute;
  left:2px;
  top:1px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:17px;
}
#u1941 {
  position:absolute;
  left:68px;
  top:193px;
  width:20px;
  height:17px;
}
#u1942 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u1943 {
  position:absolute;
  left:0px;
  top:222px;
  width:360px;
  height:1px;
}
#u1944 {
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:17px;
}
#u1945 {
  position:absolute;
  left:73px;
  top:169px;
  width:9px;
  height:17px;
}
#u1946 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1947 {
  position:absolute;
  left:215px;
  top:190px;
  width:50px;
  height:20px;
  color:#FFFFFF;
}
#u1948 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u1949 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:24px;
}
#u1950 {
  position:absolute;
  left:70px;
  top:239px;
  width:280px;
  height:96px;
  line-height:24px;
}
#u1951 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u1952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1952 {
  position:absolute;
  left:66px;
  top:238px;
  width:39px;
  height:23px;
}
#u1953 {
  position:absolute;
  left:2px;
  top:4px;
  width:35px;
  word-wrap:break-word;
}
#u1954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:18px;
}
#u1954 {
  position:absolute;
  left:72px;
  top:268px;
  width:12px;
  height:18px;
}
#u1955 {
  position:absolute;
  left:2px;
  top:1px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u1956 {
  position:absolute;
  left:0px;
  top:345px;
  width:360px;
  height:1px;
}
#u1957 {
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u1958 {
  position:absolute;
  left:10px;
  top:238px;
  width:50px;
  height:40px;
}
#u1959 {
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:17px;
}
#u1960 {
  position:absolute;
  left:68px;
  top:314px;
  width:20px;
  height:17px;
}
#u1961 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:17px;
}
#u1962 {
  position:absolute;
  left:73px;
  top:290px;
  width:9px;
  height:17px;
}
#u1963 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1964 {
  position:absolute;
  left:207px;
  top:313px;
  width:50px;
  height:20px;
  color:#FFFFFF;
}
#u1965 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u1966 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:24px;
}
#u1967 {
  position:absolute;
  left:70px;
  top:362px;
  width:280px;
  height:96px;
  line-height:24px;
}
#u1968 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u1969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1969 {
  position:absolute;
  left:66px;
  top:361px;
  width:39px;
  height:23px;
}
#u1970 {
  position:absolute;
  left:2px;
  top:4px;
  width:35px;
  word-wrap:break-word;
}
#u1971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:18px;
}
#u1971 {
  position:absolute;
  left:72px;
  top:391px;
  width:12px;
  height:18px;
}
#u1972 {
  position:absolute;
  left:2px;
  top:1px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u1973 {
  position:absolute;
  left:0px;
  top:468px;
  width:360px;
  height:1px;
}
#u1974 {
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:17px;
}
#u1975 {
  position:absolute;
  left:68px;
  top:440px;
  width:20px;
  height:17px;
}
#u1976 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:17px;
}
#u1977 {
  position:absolute;
  left:73px;
  top:416px;
  width:9px;
  height:17px;
}
#u1978 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:52px;
}
#u1979 {
  position:absolute;
  left:10px;
  top:361px;
  width:50px;
  height:52px;
}
#u1980 {
  position:absolute;
  left:2px;
  top:18px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1981 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1982 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1983 {
  position:absolute;
  left:2px;
  top:13px;
  width:356px;
  word-wrap:break-word;
}
#u1984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:23px;
}
#u1984 {
  position:absolute;
  left:12px;
  top:14px;
  width:15px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1985 {
  position:absolute;
  left:2px;
  top:4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1986 {
  position:fixed;
  left:0px;
  top:0px;
  visibility:hidden;
}
#u1986_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1986_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1987 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#169BD5;
}
#u1988 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
  font-size:16px;
  color:#169BD5;
}
#u1989 {
  position:absolute;
  left:2px;
  top:17px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:10px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1990 {
  position:absolute;
  left:120px;
  top:40px;
  width:120px;
  height:10px;
}
#u1991 {
  position:absolute;
  left:2px;
  top:-3px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1992 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  font-size:16px;
}
#u1993 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u1994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1994 {
  position:absolute;
  left:120px;
  top:0px;
  width:120px;
  height:40px;
  font-size:16px;
}
#u1995 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u1996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1996 {
  position:absolute;
  left:240px;
  top:0px;
  width:120px;
  height:40px;
  font-size:16px;
}
#u1997 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u1998 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1999 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#169BD5;
}
#u2000 {
  position:absolute;
  left:0px;
  top:50px;
  width:360px;
  height:50px;
  font-size:16px;
  color:#169BD5;
}
#u2001 {
  position:absolute;
  left:2px;
  top:17px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:10px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2002 {
  position:absolute;
  left:120px;
  top:90px;
  width:120px;
  height:10px;
}
#u2003 {
  position:absolute;
  left:2px;
  top:-3px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2004 {
  position:absolute;
  left:0px;
  top:50px;
  width:120px;
  height:40px;
  font-size:16px;
}
#u2005 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u2006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2006 {
  position:absolute;
  left:120px;
  top:50px;
  width:120px;
  height:40px;
  font-size:16px;
}
#u2007 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u2008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2008 {
  position:absolute;
  left:240px;
  top:50px;
  width:120px;
  height:40px;
  font-size:16px;
}
#u2009 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
